# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: de919cf78af57326f710a0152e296ae84bfb47159fb866f4f4467f8e1c8d2cb67e8cd6356d030997156a8aa0a8d4543baa2eb2ec2ff2e1d5acb0ac8745eb1b5d

test:
  secret_key_base: 024c89ca1c7e5c355c7e2a964da3710e6507a3977f7b28d8f5614615d2254de9e54ed222891307c72d594a1a472a8ee012c7163636f97741016d093974002c23

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
